header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;

  > span {
    font-size: 30px;
    line-height: 34px;
    color: rgba(102,170,238,0.91);
    font-weight: bold;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 525px) {
  header {
    flex-direction: column;
    gap: 10px;

    .header-right {
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
